BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: ForIndentation
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
ColumnLimit: 100
SortIncludes: false
PointerAlignment: Left
DerivePointerAlignment: false
NamespaceIndentation: All
FixNamespaceComments: true
